@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

:root {
--cor-primaria-1:#20BF55;
--cor-primaria-2:#0B4F6C;
--cor-primaria-3:#01BAEF;
--cor-primaria-4:#FBFBFF;
--cor-primaria-5:#757575;

--cor-secundaria-1:#fff;
--cor-secundaria-2:#1d1d1d;

}